body {
    margin:0;
    background-image: linear-gradient(to top, #ffffff, #1b1b2d);
    font-family: 'Nunito', sans-serif;
}
.content {
    width:100%;
    height: 1843px;
    border:1px solid red;
}
.header {
    width:100%;
    height:147px;
    border:1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-content {
    width:1024px;
    border:1px solid red;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 37px;
    height:80px;
    border:1px solid red;
    display: flex;
    align-items: center;
}
.logo-text {
    width: 195px;
    border:1px solid red;
    height: 93px;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right:25%;

}
.first-text-logo {
    height: 28px;
    width: 100%;
    border:1px solid red;
    font-size:27px;
}
.links {
    width:511px;
    height:100%;
    display: flex;
    align-items: center;
    border:1px solid red;
    justify-content: space-between;

}
.link {
    text-decoration: none;
    color:white;
    padding: 10px 5px;
    border:1px solid red;
    box-sizing: border-box;
}
.link:hover {
    padding: 10px 5px;
    background-color:white;
    color:#1b1b2d;
    border-radius:5px;
}
.header-banner {
    height:395px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.header-banner-content {
    width:1024px;
    height: 100%;
    border:1px solid aqua;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.text-banner {
    border:1px solid red;
    width: 226px;
    height: 100%;
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title-banner {
    border:1px solid red;
    width: 100%;
    height: 45px;
    font-size: 45px;
    font-weight: bolder;
}
.subtitle-banner {
    border:1px solid red;
    width: 100%;
    height: 39px;
    font-size:39px;
}
.title-content {
    font-size:23px;
}
.ipad-banner {
    width:471px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}